/* LES ROOTS */
.root,
.root-options {
    -fx-background-color: #808080;
    -fx-alignment: center;
    -fx-spacing: 20;
}

.root-options {
    -fx-spacing: 50;
}

.game-backgorund {
    -fx-background-color: #D9D9D9;
}

.root-game-over,
.pause-view {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-background-color: #808080;
}

.vbox {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.grid-style {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 25;
    -fx-alignment: center;
}

/* LES BOUTONS */
.button-style,
.button-hover,
.label-style {
    -fx-font-size: 20px;
}

.button-style {
    -fx-background-color: #B3B3B3;
}

.button-style,
.label-style{
    -fx-text-fill: #000000;
}

.button-hover {
    -fx-background-color: #D9D9D9;
    -fx-text-fill: #000000;
}

/* LES TEXTES + LABELS */
.fin-label{
    -fx-font-size: 35px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.text-style,
.title-style,
.title-game-over-style {
    -fx-font-size: 20px;
    -fx-fill: #000000;
}

.title-style,
.title-game-over-style {
    -fx-font-size: 50;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.scoreL-style {
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
}

.title-game-over-style {
    -fx-font-size: 50px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.slider-style {
    -fx-background-color: #808080;
}

.pause-view {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-color: #808080;
}

.label-toggle-button-hbox,
.label-slider-hbox,
.label-combobox-hbox {
    -fx-background-color: #808080;
    -fx-border-color: #B3B3B3;
    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 8px;
}

.label-vbox {
    -fx-background-color: #B3B3B3;
    -fx-border-color: #D9D9D9;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 5px;
}

.label-vbox-description {
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}