/* LES ROOTS */
.root,
.root-options {
    -fx-background-color: #282C35;
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-font-family: "Kode Mono";
}

.root-options {
    -fx-spacing: 50;
}

.game-backgorund {
    -fx-background-color: #282C35;
}

.root-game-over,
.pause-view {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-background-color: #282C35;
}

.vbox {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.grid-style {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 25;
    -fx-alignment: center;
}

/* LES BOUTONS */
.button-style,
.button-hover,
.label-style {
    -fx-font-size: 20px;
}

.button-style,
.button-boutique {
    -fx-background-color: #6A6A6A;
}

.button-style,
.label-style,
.button-boutique {
    -fx-text-fill: #C0C0C0;
}

.button-hover,
.button-boutique {
    -fx-background-color: #657786;
    -fx-text-fill: #C0C0C0;
}

.button-boutique{
    fx-font-size :10px;
}
.button-hover-boutique {
    -fx-background-color: #657786;
    -fx-text-fill: #C0C0C0;
}   
/* LES TEXTES + LABELS */
.fin-label {
    -fx-font-size: 35px;
    -fx-text-fill: #C0C0C0;
    -fx-font-weight: bold;
}

.text-style,
.title-style,
.title-game-over-style {
    -fx-font-size: 20px;
    -fx-fill: #C0C0C0;
}

.title-style,
.title-game-over-style {
    -fx-font-size: 50;
    -fx-text-fill: #C0C0C0;
    -fx-font-weight: bold;
}

.scoreL-style {
    -fx-font-size: 15px;
    -fx-text-fill: #C0C0C0;
}

.title-game-over-style {
    -fx-font-size: 50px;
    -fx-text-fill: #C0C0C0;
    -fx-font-weight: bold;
}

.slider-style {
    -fx-background-color: #282C35;
}

.pause-view {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-color: #282C35;
}

.label-toggle-button-hbox,
.label-slider-hbox,
.label-combobox-hbox {
    -fx-background-color: #282C35;
    -fx-border-color: #657786;
    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 8px;
}

.label-vbox {
    -fx-background-color: #2f3d57;
    -fx-border-color: #657786;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 5px;
    -fx-alignment: center;
}

.label-vbox-profil {
    -fx-border-color: #657786;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 5px;
    -fx-alignment: center;
}
.label-vbox-description {
    -fx-font-size: 13px;
    -fx-text-fill: #657786;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.console {
    /* Ajouter si besoin */
    /* -fx-background-color: green; */
}

.console-scroll-pane *:disabled {
    -fx-opacity: 1;
}

.console-scroll-pane {
    -fx-padding: 4;
}

.console-scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.console-scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.console-scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.console-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #BDBDBD;
    -fx-background-radius: 10px;
}

.console-scroll-pane .scroll-bar .increment-button,
.console-scroll-pane .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.console-scroll-pane .scroll-bar .increment-button:pressed,
.console-scroll-pane .scroll-bar .decrement-button:pressed {
    -fx-background-color: transparent;
}

.console-scroll-pane-unfocus {
    -fx-background-color: rgba(0, 0, 0, 0.0);
}

.console-scroll-pane-unfocus:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.console-scroll-pane-focus {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}


.console-text-area {
    -fx-text-fill: white;
}

.console-send-box {
    -fx-text-fill: white;
}

.console-input-field {
    -fx-border-radius: 0;
    -fx-background-color: rgba(59, 70, 82, 0.4);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.3);
}

.console-input-field:disabled {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: white;
}

.console-send-button {
    -fx-background-color: rgba(85, 126, 136, 0.3);
    -fx-text-fill: white;
    -fx-font-weight: 600;
}

.console-send-button:disabled {
    -fx-background-color: transparent;
    -fx-text-fill: none;
}

.console-send-button:hover {
    -fx-background-color: rgba(86, 128, 161, 0.5);
}

.console-scroll-pane-label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 2;
    -fx-background-radius: 5;
    -fx-font-size: 13px;
}