/* LES ROOTS */
.root,
.root-options {
    -fx-background-color: #273654;
    -fx-alignment: center;
    -fx-spacing: 20;
}

.root-options {
    -fx-spacing: 50;
}

.game-backgorund {
    -fx-background-color: #B9D9EB;
}

.root-game-over,
.pause-view {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-background-color: #78859f;
}

.vbox {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.grid-style {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 25;
    -fx-alignment: center;
}

/* LES BOUTONS */

.scoreL-style {
    -fx-font-size: 20px;
    -fx-fill: #1b263b;
}

.button-style,
.button-hover,
.label-style {
    -fx-font-size: 20px;
}

.button-style {
    -fx-background-color: #1b263b;
}

.button-style,
.label-style {
    -fx-text-fill: #d5bbb1;
}

.button-hover {
    -fx-background-color: #d5bbb1;
    -fx-text-fill: #1b263b;
}

/* LES TEXTES + LABELS */
.fin-label {
    -fx-font-size: 35px;
    -fx-text-fill: #d5bbb1;
    -fx-font-weight: bold;
}

.text-style,
.title-style,
.title-game-over-style {
    -fx-font-size: 20px;
    -fx-fill: #d5bbb1;
}

.title-style,
.title-game-over-style {
    -fx-font-size: 50;
    -fx-text-fill: #d5bbb1;
    -fx-font-weight: bold;
}


.title-game-over-style {
    -fx-font-size: 50px;
    -fx-text-fill: #d5bbb1;
    -fx-font-weight: bold;
}

.slider-style {
    -fx-background-color: #273654;
}

.pause-view {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-color: #78859f;
}

.label-toggle-button-hbox,
.label-slider-hbox,
.label-combobox-hbox {
    -fx-background-color: #313e57;
    -fx-border-color: #7a6f6b;
    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 8px;
}

.label-vbox {
    -fx-background-color: #2f3d57;
    -fx-border-color: #7a6f6b;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 5px;
}

.label-vbox-description {
    -fx-font-size: 13px;
    -fx-text-fill: #d5bbb1;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}