/* LES ROOTS */
.root,
.root-options {
    /* -fx-background-color: #273654; */
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-background: linear-gradient(#B9D9EB, #273654);

}

.root-options {
    -fx-spacing: 50;
}

.game-backgorund {
    -fx-background-color: #B9D9EB;
}

.root-game-over,
.pause-view {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-background-color: #78859f;
}

.vbox {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.grid-style {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 25;
    -fx-alignment: center;
}

/* LES BOUTONS */

.scoreL-style {
    -fx-font-size: 20px;
    -fx-text-fill: #1b263b;
}

.button-style,
.button-hover,
.label-style {
    -fx-font-size: 20px;
}

.button-style {
    -fx-background-color: #1b263b;
}

.button-style,
.label-style {
    -fx-text-fill: #d5bbb1;
}

.button-hover {
    -fx-background-color: #d5bbb1;
    -fx-text-fill: #1b263b;
}

/* LES TEXTES + LABELS */
.fin-label {
    -fx-font-size: 35px;
    -fx-text-fill: #d5bbb1;
    -fx-font-weight: bold;
}

.text-style,
.title-style,
.title-game-over-style {
    -fx-font-size: 20px;
    -fx-fill: #d5bbb1;
}

.title-style,
.title-game-over-style {
    -fx-font-size: 50;
    -fx-text-fill: #d5bbb1;
    -fx-font-weight: bold;
}


.title-game-over-style {
    -fx-font-size: 50px;
    -fx-text-fill: #d5bbb1;
    -fx-font-weight: bold;
}

.slider-style {
    -fx-background-color: #273654;
}

.pause-view {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-color: #78859f;
}

.label-toggle-button-hbox,
.label-slider-hbox,
.label-combobox-hbox {
    -fx-background-color: #313e57;
    -fx-border-color: #7a6f6b;
    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 8px;
}

.label-vbox {
    -fx-background-color: #2f3d57;
    -fx-border-color: #7a6f6b;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 5px;
    -fx-alignment: center;
}

.label-vbox-description {
    -fx-font-size: 13px;
    -fx-text-fill: #d5bbb1;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.console {
    /* Ajouter si besoin */
    /* -fx-background-color: green; */
}

.console-scroll-pane *:disabled {
    -fx-opacity: 1;
}

.console-scroll-pane {
    -fx-padding: 4;
}

.console-scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.console-scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.console-scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.console-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #BDBDBD;
    -fx-background-radius: 10px;
}

.console-scroll-pane .scroll-bar .increment-button,
.console-scroll-pane .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.console-scroll-pane .scroll-bar .increment-button:pressed,
.console-scroll-pane .scroll-bar .decrement-button:pressed {
    -fx-background-color: transparent;
}

.console-scroll-pane-unfocus {
    -fx-background-color: rgba(0, 0, 0, 0.0);
}

.console-scroll-pane-unfocus:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.console-scroll-pane-focus {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}


.console-text-area {
    /* Ajouter si besoin */
}

.console-send-box {
    /* Ajouter si besoin */
}

.console-input-field {
    -fx-border-radius: 0;
    -fx-background-color: rgba(61, 85, 109, 0.3);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.3);
}

.console-input-field:disabled {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: white;
}

.console-send-button {
    -fx-background-color: rgba(96, 143, 155, 0.2);
    -fx-text-fill: white;
    -fx-font-weight: 600;
}

.console-send-button:disabled {
    -fx-background-color: transparent;
    -fx-text-fill: none;
}

.console-send-button:hover {
    -fx-background-color: rgba(53, 116, 167, 0.4);
}

.console-scroll-pane-label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 2;
    -fx-background-radius: 5;
    -fx-font-size: 13px;
}