/* LES ROOTS */
.root,
.root-options {
    -fx-background-color: #282C35;
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-font-family: "Kode Mono";
}

.root-options {
    -fx-spacing: 50;
}

.game-backgorund {
    -fx-background-color: #282C35;
}

.root-game-over,
.pause-view {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-background-color: #282C35;
}

.vbox {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.grid-style {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 25;
    -fx-alignment: center;
}

/* LES BOUTONS */
.scoreL-style {
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
}


.button-style,
.button-hover,
.label-style {
    -fx-font-size: 20px;
}

.button-style,
.button-boutique {
    -fx-background-color: #6A6A6A;
}
.button-hover-boutique {
    -fx-background-color: #657786;
    -fx-text-fill: #C0C0C0;
}

.button-style,
.label-style,
.button-boutique {
    -fx-text-fill: #C0C0C0;
}

.button-boutique {
    -fx-font-size: 10px;
}

.button-hover,
.button-boutique {
    -fx-background-color: #657786;
    -fx-text-fill: #C0C0C0;
}

/* LES TEXTES + LABELS */
.fin-label {
    -fx-font-size: 35px;
    -fx-text-fill: #C0C0C0;
    -fx-font-weight: bold;
}

.text-style,
.title-style,
.title-game-over-style {
    -fx-font-size: 20px;
    -fx-fill: #C0C0C0;
}

.title-style,
.title-game-over-style {
    -fx-font-size: 50;
    -fx-text-fill: #C0C0C0;
    -fx-font-weight: bold;
}


.title-game-over-style {
    -fx-font-size: 50px;
    -fx-text-fill: #C0C0C0;
    -fx-font-weight: bold;
}

.slider-style {
    -fx-background-color: #282C35;
}

.pause-view {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-color: #282C35;
}

.label-toggle-button-hbox,
.label-slider-hbox,
.label-combobox-hbox {
    -fx-background-color: #282C35;
    -fx-border-color: #657786;
    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 8px;
}

.label-vbox {
    -fx-background-color: #282C35;
    -fx-border-color: #657786;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 5px;
    -fx-alignment: center;
}

.label-vbox-profil {
    -fx-border-color: #657786;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 5px;
    -fx-alignment: center;
}

.label-vbox-description {
    -fx-font-size: 13px;
    -fx-text-fill: #657786;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}