.button-style {
    -fx-font-size: 20px;
    -fx-background-color: #AAB8C2;
    -fx-text-fill: #14171A;
}

.button-hover {
    -fx-font-size: 20px;
    -fx-background-color: #657786;
    -fx-text-fill: #14171A;
}

.label-style {
    -fx-text-fill: #14171A;
    -fx-font-size: 20px;
}

.text-style {
    -fx-font-size: 20px;
    -fx-text-fill: #14171A;
}

.title-style {
    -fx-font-size: 40px;
    -fx-text-fill: #1DA1F2;
}

.root{
    -fx-background-color: #E1E8ED;
}
.game-backgorund {
    -fx-background-color: #B9D9EB;
}

.root-game-over {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-color: #E1E8ED;
}

.grid-style {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 25;
    -fx-alignment: center;
}

.scoreL-style{
    -fx-font-size: 25px;
    -fx-fill: #14171A;
}

.title-game-over-style{
    -fx-font-size: 50px;
    -fx-text-fill:#1DA1F2;
    -fx-font-weight: bold;
}

.slider-style {
    -fx-font-size: 20;
    -fx-text-fill: #E1E8ED;
}

.ball {
    -fx-fill : black;
}

.hyperball { 
    -fx-fill : #00308F;
}

.gravityball {
    -fx-fill : #6699CC;
}

.magnetball{
    -fx-fill : #5072A7;
}

.magnetracketpositif{
    -fx-fill : YELLOW;
}

.racket{
    -fx-fill : black;
}

.ynotfixeracket{
    -fx-fill : #00308F;
}

.magnetracketnegatif{
    -fx-fill : GREEN;
}
