.button-style {
    -fx-font-size: 20px;
    -fx-background-color: #AAB8C2;
    -fx-text-fill: #14171A;
}

.button-hover {
    -fx-font-size: 20px;
    -fx-background-color: #FFC7D8;
    -fx-text-fill: #FE94B4;
}

.label-style {
    -fx-text-fill: #FE94B4;
    -fx-font-size: 20px;
}

.text-style {
    -fx-font-size: 20px;
    -fx-fill: #C7DEFA;
}

.toggle-button-style {
    -fx-font-size: 20px;
    -fx-background-color: #FA739D;
    -fx-text-fill: #C7DEFA;
}

.title-style {
    -fx-font-size: 40px;
    -fx-text-fill: #C7DEFA;
}

.root{
    -fx-background-color: #F5F8FA;
}

.root-game-over {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-color: #FBFAF5;
}

.grid-style {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 25;
    -fx-alignment: center;
}

.scoreL-style{
    -fx-font-size: 25px;
    -fx-fill: #C7DEFA;
}

.title-game-over-style{
    -fx-font-size: 50px;
    -fx-text-fill:#C7DEFA;
    -fx-font-weight: bold;
}

.slider-style {
    -fx-font-size: 20;
    -fx-text-fill: #F79BC5;
}

