/* LES ROOTS */
.root,
.root-options {
    /*-fx-background-color: #FEE5F2;*/
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-background: linear-gradient(#FEE5F2, #FFB6C1);
    background: linear-gradient(#FEE5F2, #FFB6C1);
    /*fx-background: linear-gradient(to right, blue, pink);*/
}

.root-options {
    -fx-spacing: 50;
}

.game-backgorund {
    -fx-background-color: #FEE5F2;
}

.root-game-over,
.pause-view {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-background-color: #FEE5F2;
}

.vbox {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.grid-style {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 25;
    -fx-alignment: center;
}

/* LES BOUTONS */
.button-style,
.button-hover,
.label-style {
    -fx-font-size: 20px;
}

.button-style,
.button-boutique {
    -fx-background-color: #FFB6C1;
}

.button-style,
.label-style,
.button-boutique {
    -fx-text-fill: #C71585;
}

.button-hover,
.button-boutique {
    -fx-background-color: #C71585;
    -fx-text-fill: #FFB6C1;
}

.button-boutique {
    -fx-font-size: 10px;
}

/* LES TEXTES + LABELS */
.fin-label {
    -fx-font-size: 35px;
    -fx-text-fill: #C71585;
    -fx-font-weight: bold;
}

.text-style,
.title-style,
.title-game-over-style {
    -fx-font-size: 20px;
    -fx-fill: #C71585;
}

.title-style,
.title-game-over-style {
    -fx-font-size: 50;
    -fx-text-fill: #C71585;
    -fx-font-weight: bold;
}

.scoreL-style {
    -fx-font-size: 20px;
    -fx-text-fill: #C71585;
}

.title-game-over-style {
    -fx-font-size: 50px;
    -fx-text-fill: #C71585;
    -fx-font-weight: bold;
}

.slider-style {
    -fx-background-color: #FEE5F2;
}

.pause-view {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-color: #FEE5F2;
}

.label-toggle-button-hbox,
.label-slider-hbox,
.label-combobox-hbox {
    -fx-background-color: #FEE5F2;
    -fx-border-color: #C71585;
    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 8px;
}

.label-vbox {
    -fx-background-color: #FEE5F2;
    -fx-border-color: #C71585;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 5px;
    -fx-alignment: center;
}

.label-vbox-description {
    -fx-font-size: 13px;
    -fx-text-fill: #C71585;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.console {
    /* Ajouter si besoin */
    /* -fx-background-color: green; */
}

.console-scroll-pane *:disabled {
    -fx-opacity: 1;
}

.console-scroll-pane {
    -fx-padding: 4;
}

.console-scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.console-scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.console-scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.console-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #a74984;
    -fx-background-radius: 10px;
}

.console-scroll-pane .scroll-bar .increment-button,
.console-scroll-pane .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.console-scroll-pane .scroll-bar .increment-button:pressed,
.console-scroll-pane .scroll-bar .decrement-button:pressed {
    -fx-background-color: transparent;
}

.console-scroll-pane-unfocus {
    -fx-background-color: rgba(255, 182, 193, 0.0);
}

.console-scroll-pane-unfocus:hover {
    -fx-background-color: rgba(255, 182, 193, 0.1);
}

.console-scroll-pane-focus {
    -fx-background-color: rgba(255, 182, 193, 0.3);
}


.console-text-area {
    /* Ajouter si besoin */
}

.console-send-box {
    /* Ajouter si besoin */
}

.console-input-field {
    -fx-border-radius: 0;
    -fx-background-color: rgba(167, 73, 132, 0.3);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-size: 13px;
    -fx-text-fill: #C71585;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: rgba(199, 21, 133, 0.3);
}

.console-input-field:disabled {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #C71585;
}

.console-send-button {
    -fx-background-color: rgba(241, 123, 184, 0.2);
    -fx-text-fill: #C71585;
    -fx-font-weight: 600;
}

.console-send-button:disabled {
    -fx-background-color: transparent;
    -fx-text-fill: none;
}

.console-send-button:hover {
    -fx-background-color: rgba(241, 123, 184, 0.4);
}

.console-scroll-pane-label {
    -fx-background-color: transparent;
    -fx-text-fill: #C71585;
    -fx-padding: 2;
    -fx-background-radius: 5;
    -fx-font-size: 13px;
}