/*TODO: Add the style for the game */
.button-style {
    -fx-font-size: 20px;
    -fx-background-color: #FFB6C1;
    -fx-text-fill: #C71585;
}

.button-hover {
    -fx-font-size: 20px;
    -fx-background-color: #ffd7e9;
    -fx-text-fill: #C71585;
}

.label-style {
    -fx-text-fill: #C71585;
    -fx-font-size: 20px;
}

.text-style {
    -fx-font-size: 20px;
    -fx-fill: #C71585;
}


.title-style {
    -fx-font-size: 40px;
    -fx-text-fill: #C71585;
}

.root{
    -fx-background-color: #ffd7e9;
}

.root-game-over {
    -fx-opacity: 0.7;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-color: #ffd7e9;
}

.grid-style {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 25;
    -fx-alignment: center;
}

.scoreL-style{
    -fx-font-size: 25px;
    -fx-fill: #C71585;
}

.title-game-over-style{
    -fx-font-size: 50px;
    -fx-text-fill:#C71585;
    -fx-font-weight: bold;
}

.slider-style {
    -fx-font-size: 20;
    -fx-background-color: #ffd7e9;
    -fx-text-fill: #C71585;
}